
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGameLabel" data-translate="voess2App.game.home.createOrEditLabel">Create or edit a Game</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.game.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.game.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="voess2App.game.gameName" for="field_gameName">Game Name</label>
            <input type="text" class="form-control" name="gameName" id="field_gameName"
                    ng-model="vm.game.gameName"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setGamePicture($file, vm.game)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="voess2App.game.gamePicture" for="field_gamePicture">Game Picture</label>
            <div>
                <img data-ng-src="{{'data:' + vm.game.gamePictureContentType + ';base64,' + vm.game.gamePicture}}" style="max-height: 100px;" ng-if="vm.game.gamePicture" alt="game image"/>
                <div ng-if="vm.game.gamePicture" class="help-block clearfix">
                    <span class="pull-left">{{vm.game.gamePictureContentType}}, {{vm.byteSize(vm.game.gamePicture)}}</span>
                    <button type="button" ng-click="vm.game.gamePicture=null;vm.game.gamePictureContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setGamePicture($file, vm.game)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="gamePicture" id="field_gamePicture"
                    ng-model="vm.game.gamePicture"
                     />
            <input type="hidden" class="form-control" name="gamePictureContentType" id="field_gamePictureContentType"
                    ng-model="vm.game.gamePictureContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
