<div>
    <h2 data-translate="voess2App.country.home.title">Countries</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="countryvoess.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="voess2App.country.home.createLabel">
                        Create new Country
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countryName"><span data-translate="voess2App.country.countryName">Country Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="coutryFlag"><span data-translate="voess2App.country.coutryFlag">Coutry Flag</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="country in vm.countries track by country.id">
                    <td><a ui-sref="countryvoess-detail({id:country.id})">{{country.id}}</a></td>
                    <td>{{country.countryName}}</td>
                    <td>
                        <a ng-if="country.coutryFlag" ng-click="vm.openFile(country.coutryFlagContentType, country.coutryFlag)">
                            <img data-ng-src="{{'data:' + country.coutryFlagContentType + ';base64,' + country.coutryFlag}}" style="max-height: 30px;" alt="country image"/>
                        </a>
                        <span ng-if="country.coutryFlag">{{country.coutryFlagContentType}}, {{vm.byteSize(country.coutryFlag)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="countryvoess-detail({id:country.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="countryvoess.edit({id:country.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="countryvoess.delete({id:country.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
