<div>
    <div class="container-fluid">
        <h2 data-translate="voess2App.tournament.home.title">Tournaments</h2>
    </div><br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-enabled="vm.page >= vm.links['last']">
            <tr ng-repeat="tournament in vm.tournaments track by tournament.id">
                <td ui-sref="tournamentvoess-detail({id:tournament.id})">
                    <p ng-if="tournament.tournamentImage"
                       ><!--ng-click="vm.openFile(tournament.tournamentImageContentType, tournament.tournamentImage)"-->
                        <img
                            data-ng-src="{{'data:' + tournament.tournamentImageContentType + ';base64,' + tournament.tournamentImage}}"
                             style="max-height: 30px;" alt="tournament image"/>
                    </p>
                </td>
                <td>{{tournament.tournamentName}}</td>
                <td>{{tournament.tournamentDate | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
