<div>
    <h2 data-translate="voess2App.streams.home.title">Streams</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="streams.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="voess2App.streams.home.createLabel">
                        Create new Streams
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="voess2App.streams.streamerName">Streamer Name</span></th>
                    <th><span data-translate="voess2App.streams.streamerUrl">Streamer Url</span></th>
                    <th><span data-translate="voess2App.streams.streamerPhoto">Streamer Photo</span></th>
                    <th><span data-translate="voess2App.streams.streamerState">Streamer State</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="streams in vm.streams track by streams.id">
                    <td><a ui-sref="streams-detail({id:streams.id})">{{streams.id}}</a></td>
                    <td>{{streams.streamerName}}</td>
                    <td>{{streams.streamerUrl}}</td>
                    <td>
                        <a ng-if="streams.streamerPhoto" ng-click="vm.openFile(streams.streamerPhotoContentType, streams.streamerPhoto)">
                            <img data-ng-src="{{'data:' + streams.streamerPhotoContentType + ';base64,' + streams.streamerPhoto}}" style="max-height: 30px;" alt="streams image"/>
                        </a>
                        <span ng-if="streams.streamerPhoto">{{streams.streamerPhotoContentType}}, {{vm.byteSize(streams.streamerPhoto)}}</span>
                    </td>
                    <td>{{streams.streamerState}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="streams-detail({id:streams.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="streams.edit({id:streams.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="streams.delete({id:streams.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
